{% set map = salt['grains.filter_by']({
  'Debian': {
    'pkgs': [ 'conntrackd', 'conntrack' ],
    'servicename': 'conntrackd',
    'sysctlservicename': 'procps',
    'confdir': '/etc/conntrackd',
    'lockfile': '/var/lock/conntrack.lock',
    'unixpath': '/var/run/conntrackd.ctl',
    'resourcepath': '/etc/heartbeat/resource.d',
},
}, grain='os', merge=salt['pillar.get']('conntrack:lookup')) %}
